.Card-ion-card-title{
    text-align: center;

}
.Card-ion-card-subtitle{
    text-align: center;
    
}
.Card-ion-card-content{
    text-align: center;

}
.Card-ion-img{
    width:80%;
    height: 80%;
}